@import "../../style/colors.scss";
@import "../../style/page-layout.scss";
@import "../../style/responsive-breakpoints.scss";

.fiche-logement-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;

  .basic-info-container {
    display: flex;
    justify-content: space-between;

    .title-location-badges-container {
      display: flex;
      flex-direction: column;

      .fiche-logement-title {
        font-size: 2.25rem;
        font-weight: 500;
        color: $red;
      }

      .location {
        font-size: 1.125rem;
        font-weight: 500;
        color: $red;
      }

      .badges-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        .badge {
          font-size: 0.875rem;
          font-weight: 500;
          color: $white;
          min-width: 115px;
          height: fit-content;
          padding: 5px 10px;
          background-color: $red;
          border-radius: 10px;
          text-align: center;
          vertical-align: text-top;
        }
      }
    }

    .host-infos-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .host-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .host-name {
          display: flex;
          flex-direction: column;
          gap: 3px;
          font-size: 1.125rem;
          font-weight: 500;
          color: $red;
        }

        .host-picture-container {
          width: 64px;
          height: 64px;
          border-radius: 100%;
          overflow: hidden;

          .host-picture {
            width: 100%;
          }
        }
      }
    }
  }

  .a-propos-collapses-container {
    display: flex;
    gap: 76px;

    > * {
      flex: 1;
    }
  }
}

@media only screen and (max-width: $mobileMaxWidth) {
  .fiche-logement {
    .fiche-logement-description {
      margin-top: 15px;
      gap: 13px;

      .basic-info-container {
        flex-direction: column;

        .title-location-badges-container {
          .fiche-logement-title {
            font-size: 1.125rem;
          }
          .location {
            font-size: 0.875rem;
            margin-top: 10px;
          }
          .badges-container {
            margin-top: 10px;

            .badge {
              font-size: 0.625rem;
              min-width: 84px;
              padding: 2px 5px;
              border-radius: 5px;
            }
          }
        }
        .host-infos-container {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 16px;

          .host-container {
            order: 2;

            .host-name {
              font-size: 0.75rem;
            }
            .host-picture-container {
              width: 32px;
              height: 32px;
            }
          }
          .host-ratings-container {
            width: 98px;

            .star {
              width: 18px;
            }
          }
        }
      }
    }
    .a-propos-collapses-container {
      flex-direction: column;
      gap: 20px;
    }
  }
}
