@import "../../style/page-layout.scss";
@import "../../style/responsive-breakpoints.scss";

.collapses-container {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: $mobileMaxWidth) {
  .collapses-container {
    margin-top: 19px;
    gap: 20px;
  }
}
