@import "../../style/colors.scss";
@import "../../style/page-layout.scss";

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: $background-color2;
  margin-top: 43px;
  padding: 56px 50px 43px;

  .card-link {
    text-decoration: none;
  }
}
