@import "../../style/colors.scss";

.card {
  width: 340px;
  height: 340px;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  overflow: hidden;

  .linear-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $linearRedToBlack;
    opacity: 0.4;
    z-index: 1;
  }

  .card-title {
    font-size: 1.125rem;
    font-weight: normal;
    color: $white;
    z-index: 2;
  }
}
