@import "../../style/colors.scss";

.card {
  width: 340px;
  height: 340px;
  background: $linearRedToBlack;
  border-radius: 10px;

  .card-title {
    font-size: 18px;
    font-weight: normal;
    color: $white;
  }
}
