@import "../../style/colors.scss";
@import "../../style/responsive-breakpoints.scss";

.collapse-container {
  .collapse {
    max-width: 1024px;
    border-radius: 10px;
    background-color: $background-color2;
    overflow: hidden;

    .collapse-title {
      font-size: 1.5rem;
      font-weight: normal;
      color: $white;
      background-color: $red;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .collapse-arrow {
      position: absolute;
      top: 50%;
      right: 0px;
      margin-right: 10px;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      cursor: pointer;

      background-image: url("../../assets/arrow.png");
      background-position: center;
      background-size: contain;
      background-repeat: repeat;

      transition: transform 0.5s ease;
    }

    .collapse-paragraphe-container {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      .collapse-paragraphe {
        color: $red;
        font-size: 1.125rem;
        font-weight: 400;
        padding: 18px 20px 20px;
      }

      .equipement-item {
        list-style-type: none;
      }

      .equipement-item:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.open .collapse-title .collapse-arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &.open .collapse {
    background-color: $background-color2;
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  .collapse-container {
    .collapse {
      border-radius: 5px;

      .collapse-title {
        font-size: 0.75rem;
        padding: 8px;
        border-radius: 5px;
      }

      .collapse-arrow {
        width: 24px;
        height: 24px;
      }

      .collapse-paragraphe-container {
        .collapse-paragraphe {
          font-size: 0.75rem;
          padding: 13px 20px 20px;
        }
      }
    }
  }
}
