@import "../../style/colors.scss";

.collapse {
  background-color: $background-color2;
  border-radius: 10px;
  max-width: 1024px;

  .collapse-title-container {
    background-color: $red;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapse-title {
      font-size: 1.5rem;
      font-weight: normal;
      color: $white;
    }

    .arrow-container {
      width: 32px;
      cursor: pointer;

      .rotate-up {
        transition: transform 0.3s ease-in-out;
        transform: rotate(180deg);
      }

      .rotate-down {
        transition: transform 0.3s ease-in-out;
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-paragraphe {
    color: $red;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 20px;
  }
  .collapsed {
    transition: transform 0.3s ease-in-out;
    height: 0px;
  }
}
