@import "../../style/colors.scss";

.collapse {
  background-color: $background-color2;
  border-radius: 10px;
  max-width: 1024px;
  height: fit-content;

  .collapse-title-container {
    background-color: $red;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapse-title {
      font-size: 1.5rem;
      font-weight: normal;
      color: $white;
    }

    .arrow-container {
      width: 32px;
      cursor: pointer;

      .arrow {
        transition: all 0.4s ease;
      }
    }
  }

  .collapse-paragraphe {
    color: $red;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 20px;
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease;
  }
}

.collapse.open .arrow {
  transform: translateY(-50%) rotate(180°);
}

.collapse.open .collapse-paragraphe {
  max-height: fit-content;
  opacity: 1;
}
