@import "../../style/colors.scss";
@import "../../style/responsive-breakpoints.scss";

header {
  width: 100%;
  padding: 45px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 210px;
    height: fit-content;

    .logo-red {
      width: 100%;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;

    .nav-link {
      color: $red;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .unactive-nav-link {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  header {
    padding: 20px;

    .logo-container {
      width: 145px;
    }
    nav {
      gap: 26px;

      .nav-link {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
  }
}
