// Color functions
$background-color1: #ffffff;
$background-color2: #f6f6f6;
$white: #ffffff;
$red: #ff6060;
$black: #000000;
$gradient-start: rgb(255, 96, 96);
$gradient-end: rgb(0, 0, 0);
$linearRedToBlack: linear-gradient(to bottom, $gradient-start, $gradient-end);
