@import "../../style/colors.scss";
@import "../../style/responsive-breakpoints.scss";

footer {
  width: 100%;
  height: 209px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 50px;

  .logo-container {
    width: 122px;
    margin-top: 66px;

    .logo-white {
      width: 100%;
    }
  }

  .legals {
    color: $white;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  footer {
    margin-top: 27px;
    gap: 8px;

    .logo-container {
      width: 122px;
    }

    .legals {
      font-size: 0.75rem;
      max-width: 120px;
      text-align: center;
      font-weight: 500;
    }
  }
}
